<mat-form-field class="min-h-18 w-full">
  <mat-label>Add Devs</mat-label>
  <mat-select [formControl]="selectedUsers" multiple>
    <input
      [formControl]="searchName"
      (focus)="onFocus()"
      type="text"
      placeholder="Search Devs"
      class="focus:outline-none ps-5 py-2 text-[15px] border-none w-full pe-3"
    />
    <mat-select-trigger>
      {{selectedUsers.value?.[0]?.name || ''}}
      @if ((selectedUsers.value?.length || 0) > 1) {
      <span class="example-additional-selection">
        (+{{ (selectedUsers.value?.length || 0) - 1 }}
        {{ selectedUsers.value?.length === 2 ? "other" : "others" }})
      </span>
      }
    </mat-select-trigger>

    <div class="h-25 w-full">
      @for (dev of devs; track dev.id) {
      <mat-option [value]="dev">{{ dev.name }}</mat-option>
      }
    </div>
  </mat-select>
</mat-form-field>
