.color{
    color:white;
   
}

.shadow{
    box-shadow: 10px 10px 10px 4px black;
}
.imgDelete{
    color: red;
}

.close{
     border: 5px black;
    color: red;
      font-size: 48px; /* Sets the icon size */
      height: 48px;   /* Ensures the container matches */
      width: 48px;    /* Ensures the container matches */
      line-height: 48px; /* For proper vertical alignment */
}


  




