<div class="bg-white rounded-none border-none">
  <!-- close pop up -->
  <div class="p-4 w-full flex justify-end bg-[#F5F6F8]">
    <button class="p-2 cursor-pointer flex justify-center rounded-sm">
      <mat-icon (click)="onCloseDialog()">close</mat-icon>
    </button>
  </div>

  <div class="">
    <!-- Pop up header -->
    <div
      class="bg-[#FFFFFF] p-10 border-b-2 border-b-[#8D98AA4D] flex justify-between items-center"
    >
      <h1 class="font-[500] text-[27px]">{{ dialogTitle }}</h1>

      <!-- icon -->

      <img src="assets/TripleColonHorizontal.svg" alt="" />
    </div>

    <form [formGroup]="bugForm" (ngSubmit)="onSubmit(bugForm.value)">
      <div class="max-h-[19rem] overflow-y-auto">
        <div class="px-10 py-6">
          <!-- Assign to and due date  -->

          <div class="flex flex-col md:flex-row gap-5 justify-start">
            <app-dev-select
              [projectId]="this.data.projectId"
              [toppingsData]="this.developers"
              (selectedIds)="getIds($event)"
            ></app-dev-select>

            <!-- Add due date -->
            <div class="flex justify-start md:justify-center md:w-65 w-full">
              <div class="w-full">
                <mat-form-field class="w-full h-22">
                  <mat-label>Choose a deadline</mat-label>
                  <input
                    matInput
                    [matDatepicker]="picker"
                    formControlName="deadline"
                    [ngClass]="{
                      'border-grey-300': !(
                        bugForm.get('deadline')?.invalid &&
                        bugForm.get('deadline')?.touched
                      ),
                      'border-red-500':
                        bugForm.get('deadline')?.invalid &&
                        bugForm.get('deadline')?.touched
                    }"
                  />

                  <mat-datepicker-toggle
                    matIconSuffix
                    [for]="picker"
                  ></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
              </div>
            </div>
          </div>

          <!-- Title input -->
          <input
            type="text"
            placeholder="Add title here"
            formControlName="title"
            class="text-[35px] w-full placeholder-[#DFDEE0] text-[#5A595AFF] px-1 py-1 focus:outline-none mt-1 font-[500]"
          />

          <p
            *ngIf="
              bugForm.get('title')?.hasError('maxlength') &&
              (bugForm.get('title')?.dirty || bugForm.get('title')?.touched)
            "
            class="text-red-500 text-sm"
          >
            Title cannot be more than 15 characters
          </p>
          <p
            *ngIf="
              bugForm.get('title')?.hasError('required') &&
              bugForm.get('title')?.touched
            "
            class="text-red-500 text-sm"
          >
            Title is required
          </p>

          <!-- for bug detail and type -->

          <!-- for bug detail -->
          <div class="flex flex-col mt-4">
            <label class="font-[400] text-[17px]">Bug details</label>
            <textarea
              type="text"
              placeholder="Add here"
              formControlName="description"
              class="my-3 py-4 ps-3 w-140 rounded-sm border-1 focus:outline-none border-[#A1A1AA] text-[#5A595AFF] text-[16px] w-full placeholder-[#A1A1AA] font-[500]"
              [ngClass]="{
                'border-grey-300': !(
                  bugForm.get('description')?.invalid &&
                  bugForm.get('description')?.touched
                ),
                'border-red-500':
                  bugForm.get('description')?.invalid &&
                  bugForm.get('description')?.touched
              }"
            ></textarea>

            <p
              *ngIf="bugForm.get('description')?.hasError('minlength')"
              class="text-red-500 text-sm"
            >
              Bug description cannot be less than 20 characters
            </p>
            <p
              *ngIf="
                bugForm.get('description')?.hasError('required') &&
                bugForm.get('description')?.touched
              "
              class="text-red-500 text-sm"
            >
              Bug Detail is required
            </p>
          </div>

          <!-- for type -->
          <div class="flex flex-col mt-4">
            <label class="font-[400] text-[17px]">Bug Type</label>
            <select
              class="my-3 py-4 ps-3 pe-10 border-[#A1A1AA] w-140 border-1 rounded-sm w-full text-[16px] text-[#5A595AFF] font-[500] focus:outline-none"
              formControlName="type"
              [ngClass]="{
                'border-grey-300': !(
                  bugForm.get('type')?.invalid && bugForm.get('type')?.touched
                ),
                'border-red-500':
                  bugForm.get('type')?.invalid && bugForm.get('type')?.touched
              }"
            >
              <option value="">Select type here</option>
              <option value="bug">Bug</option>
              <option value="feature">Feature</option>
            </select>
            <p
              *ngIf="
                bugForm.get('type')?.hasError('required') &&
                bugForm.get('type')?.touched
              "
              class="text-red-500 text-sm"
            >
              Bug Type is required
            </p>
          </div>

          <!-- for image  -->

          <div
            class="flex flex-col mt-7 justify-center items-center cursor-pointer"
          >
            <img
              src="assets/UploadImage.svg"
              alt=""
              *ngIf="!selectedFile"
              (click)="openImageSelectionDialog()"
            />

            <div class="flex flex-col items-end mb-2 relative" *ngIf="preview">
              <mat-icon (click)="onClearImage()" class="imgDelete absolute z-10"
                >delete</mat-icon
              >

              <img
                [src]="preview"
                alt="Image"
                class="rounded-sm w-full h-40 object-cover"
              />
            </div>
            <input
              type="file"
              #fileInput
              style="display: none"
              accept="image/png , image/gif"
              (change)="onFileSelected($event)"
            />
          </div>
        </div>
      </div>

      <!-- Add the bug -->
      <div class="flex justify-end pe-10 py-4 shadow">
        <button
          class="bg-[#007DFA] text-[14px] font-[600] text-white px-15 rounded-sm py-3 cursor-pointer"
        >
          {{ dialogBtn }}
        </button>
      </div>
    </form>
  </div>
</div>
